*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
header{
  width: 100%;
  height: 60px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  font-family:sans-serif;
  background-color: #E6E6FA;
}
     
   
header .logo{
  height: 10%;
  display: table;
  float: left;
}
  
header nav{
 height: 100%;
 float: right;
}
    
header nav li{
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px
}
   
.logo{
  font-size: 25px;
  font-family: Verdana;
  text-align: left;
  margin-top: 0px;
  float: left;
  margin: 0px;
  line-height: 50px;
  padding-left: 9px;
}

/* css de detalle pelicula */
.cajaInfo{
  background-color: rgb(241, 236, 62);
  height: 700px;
  width: 40%;
  margin-left: 100px;
  margin-top: 10px;
}

.cajitasInfo{
  padding-top: 45px;
}

ul.cajitasInfo li{
  padding-top: 60px;
  padding-left: 50px;
}

body{
  background-color: rgb(245, 207, 65);
}

.fotoJoker{
  height: 700px;
  width: 35%;
  float: right;
}